@model  List<WebApplication1.Context.Teacher>

@{
    ViewBag.Title = "TeacherList";
}
<h2>TeacherList</h2>
<table class="table table-hover">
    <tr>
        <th>Salary</th>
        <th>Position</th>
        <th>CNIC</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Salary</td>
        <td>@item.Position</td>
        <td>@item.CNIC</td>

        <td>

            <a href="@Url.Action("Teacher",new { item.Salary,item.Position,item.CNIC})"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="@Url.Action("Delete",new { TeacherID=@item.TeacherID})"><i class="glyphicon glyphicon-trash"></i></a>



        </td>
    </tr>
    }
</table>
